	structdef MYS {
		int x,y;
		int x;
		int z,x;
		function : void y() {}
		function : void f (int &x) 
		{ 
			x = x + 1; 
			int b = 2.0;
		}
		function : void foo() {}
		function : void foo() {}
	};

	
	int xxxx;
	int yyyy;