typedef int[10] INTARR10;
typedef float[10] FLTARR10;

function: void main () {
  int* intptr0;
  int* intptr1;
  int[10] intarr10;
  INTARR10[10] intarr10arr10;
  float[10] fltarr10;
  FLTARR10[10] fltarr10arr10;
 
  /* Array assignable to pointer */
  intptr0 = intarr10arr10;
  intptr0 = intarr10;
 
  /* Pointers are only assignable to pointers */
  intptr0 = intptr1;
  intptr1 = intptr0;
 
  /* Error pointers not assignable to arrays */
  intarr10 = intptr0;
  intarr10[1][1] = intptr0;
  intarr10arr10 = intptr0;
  intarr10arr10[1] = intptr0;
  intarr10arr10[1][1] = intptr0;
  intarr10arr10[1][1][1] = intptr0;

}

