
function:int main()
{
  break;                    // Error Break does not occur in a loop.
  continue;                 // Error Continue does not occur in a loop. 
  
  if (true) 
  {
    break;                  // Error Break does not occur in a loop.

    if (true)
    {
      while (true)
      {
        continue; 
        if (true)
        {
          break;           
        }            
      }
      continue;            // Error Continue does not occur in a loop.
    }
  } 
  
  break;                   // Error Break does not occur in a loop.
  continue;                // Error Continue does not occur in a loop. 
  
  while(true)
  {
    break;
    continue;
    
    if (true)
    {
      break;
      while (true)
      {
        continue;
      }
      continue;
    }
  }
  
  if (true)
  {
    break;                 // Error Break does not occur in a loop.
    continue;              // Error Continue does not occur in a loop. 
  }
  
  if (true)
  {
    break;                 // Error Break does not occur in a loop.
    if (true)
    {
      continue;            // Error Continue does not occur in a loop. 
      if (true)
      {
        while (true)
        {
          break;
          if (true)
          {
            continue;
            while (true)
            {
              break;
            }
             
            continue;
          }
        }
        continue;         // Error Continue does not occur in a loop. 
      }
      break;              // Error Break does not occur in a loop.
    }
  }
       
  return 1; 
}
