function : void main()
{
	int[5] x;
	int[6] y;
	int z;
	int[10] a;
	int c;
	int[z] zz;
//	x+4;
//	y+6;
        x = 10;
	x = y;
	bool[20] muffin;
	
	if (muffin[1])
	{
	}
	else
	{
	}

	z[0] = 5;
	
	y[12] = 6;
	x[-50] = 7;
	y[3] = 6;
	
	y[0] = 3;
	x[4] = 4;

	x[3] = y[1] + y[3] + 3;
	x[0] = y[0] + x[4] + 5;
	
	x = 11;	
	
}
