typedef float FOO;

structdef MS 
{
  int a, b;
  function : int doo() { return 0; }
};

int x;
const float y = 55.5;
bool[4] z;
MS t;

function : void foo(bool[4] &p1, bool* p2) 
{
  x = sizeof(p1);          // should be 16
  x = sizeof(p2);          // should be 4
}


function : void main() 
{
  foo(z, z);
  x = sizeof(FOO);         // Should be 4
  x = sizeof(MS);          // Should be 8
  x = sizeof(float***);    // Should be 4
  x = sizeof(int[3]);      // Should be 12
  x = sizeof(x);           // Should be 4
  x = sizeof(y);           // Should be 4
  x = sizeof(z);           // Should be 16
  x = sizeof(t);           // Should be 8
  
  x = sizeof((x + y));     // Invalid operand to sizeof. Not a type or not addressable.
}

structdef Z 
{
  Z* a;
  Z  b;
  function : void d() 
  {
    int[5] x;
    x[-sizeof(this.a)];    // should be 4
  }
};
