
function : int main ()
{
    int x,y;
    int *z;
    const int w = 77;
    
    z = &x;
    &x = x;        // Left-hand operand is not assignable (not a modifiable L-value).
    y = *&x;
    *&x = y;
    *&w = y;
    &*z = z;          // Left-hand operand is not assignable (not a modifiable L-value).
    
    int ** a;
    float **b;
    float *c;
    float d;
    bool p;
    bool * q;
    bool ** r;
    
    a = b;            // Value of type float** not assignable to variable of type int**.
    b = a;            // Value of type int** not assignable to variable of type float**.
    x = z;            // Value of type int* not assignable to variable of type int.
    x = c;            // Value of type float* not assignable to variable of type int.
    c = x;            // Value of type int not assignable to variable of type float*.
    b = c;            // Value of type float* not assignable to variable of type float**.
    c = b;            // Value of type float** not assignable to variable of type float*.
    c = *b;   
    d = a;            // Value of type int** not assignable to variable of type float.
    b = &c;  
    r = &q;    
    r = q;            // Value of type bool* not assignable to variable of type bool**.
    q = r;            // Value of type bool** not assignable to variable of type bool*.
    r = b;            // Value of type float** not assignable to variable of type bool**.
    return 1;
}

