typedef float[10] ARR;
float [10] a;
ARR b;
ARR[2] c;

int x = 5;

float [x] d;
float [-1] bb;
float [9.9] cc;
float [10.22] dd;

float [true] e;

float y;
int [y] list;

function : void main()
{
	int[5] x;
	int[6] y;
	int z;
	int[10] a;
	int c;
	int[z] zz;

	float[21] g;
	g+1;
	g++;
	c = x + x;
	c = x[1] + x[2];
	c = x[90] - x[0];
	c = a[] + a[];	
}

