function : void main()
{
	int[10] list1;
	int[1 + 20] list2;
	int[2 * 10] list3;
	int[10/2]	list4;
	
	typedef float[10] ARR;
	float[10] a;
	ARR b;
	ARR[2] c;
	
	typedef int[6] MYARR;
	typedef MYARR[4] MYARR2;
	MYARR2 myArrayOfArray;
	
	myArrayOfArray[3][5] = 4; // ok
	
	// errors
	int[50 % 2]	list5;	// < 0
	int[0] list6;		// < 0
	int[2.0] list7;		// float not int
	int[true]	list8;	// bool not int
	
	int x = 10;
	int y = 10;
	
	int [x] list9;		// not const
	int [y]	list10;		// not const
	int [10 + x]	list11;		// not const

	// total number = 7
}