function: void main()
{
  break;
  continue;
  while (true)
  {
    while (true)
    {
      break;
      continue;
      continue;
    }
 
    break;
    break;
  }

  while (true)
  {
    break;
  }
  continue;
  break;
}
