const int cc = 1;
typedef float[10] ARR;
typedef ARR[10] ARR2;
float[10] a;
ARR b;
float * d;
int e;
ARR[2] f;
ARR2[10] tri_arr;

function : void main() {
	typedef int INTEGER;
	typedef float FLOAT;
	INTEGER i = e[2];
	b[b[2] - cc] = 2.5;

	const INTEGER x = 3;
	const INTEGER c = 12;
	const FLOAT f2 = 3.52;
	a[55] = 0;
	a[0-99] = 0;
	a[x+10] = 0;
	a[f2]    = 0;
	a[c] = 0;
	a[c+5] = 0;
	a[-9] = 0;
	f[5][7] = 0;
	f[-9][0] = 0;
	f[x+4][c+2] = 0;
	f[-c][5+3] = 0;

	tri_arr[1] = 3; // trying to assign to array type
	tri_arr[2][2] = 4; // trying to assign to array type
	tri_arr[2][3][-1] = 5;
	tri_arr[3][4][5][2] = 3; // trying to access non-array type

}
