structdef MYSTRUCT{
	int a,b;
};
structdef MYS{
  MYSTRUCT b;
  /***** NEED TO BE FIXED *******/
  MYS[2] m;  //Is this OK?
  MYS* mys;
};

typedef float[10] ARR;
function: void main(){

  int **x;
  x[1][2] = 5;//dereference unwraps a level of pointer
  
  int[4] a;
  int*s = a;
  int** t = a;  //This should be an error, but now passing
  typedef int[4] YARR;
  YARR[2] b;
  int** c = b;  //This also fail, but do not know why
  
  ARR[2] c; // c should have float[10][2]
  int* test1;  
  test1 = &c; // Error
  test1 = &c[1]; // Error
  //This should give an float not assinable to int
  int test2 = c[2][9];// This should pass
}