int [10] a;
function : void main(){
  int x = a[1++ + (-2)];
  int x = a[1/2 * 3 - 1];
  const int y = 10;
  int x = a[y + 5];
  int x = a[-(1++ % 2)];
  int x = a[1/0 ^ 2];
  int j = a[-(-1) & 2];
  int x = a[1 % 0];
}