/*function : float foo(float &x){
  return 1.0;
}*/

//Fail 1, redeclared 
function : int foo(float x){
  return 1;
}

function : float foo(float x, float y, float z){
  return 1.0;
}

function : int main(){
  foo(1); //Error22_illegal
  return 0;
}