typedef funcptr : int (int x, int y) MYPTRALIAS;
MYPTRALIAS myPtr1, myPtr2;
typedef funcptr : int (int&x, int &y) TEST;
TEST ptr1;

function : int addition(int x, int y){
  return x + y;
}

function : int subtraction(int x, int y){
  return x - y;
}

function : int& test(int x, int& y){
  //Fail 1, return value is not mod l-val
  return x - y;
}

function : int* test3(float*** x, bool* &y){
  return;
}

function : int* & test2(int ******x, int& y){
  int a = 1;
  return &a;
}

function : int main(){
  myPtr1 = test;
  myPtr1 = test2;
  myPtr1 = test3;
  if(myPtr1 == nullptr){
    myPtr1 = addition;
  }
  cout << myPtr1(4,6) << endl;
  myPtr2 = subtraction;
  cout << myPtr2(5,2) << endl;
  myPtr2 = myPtr1;
  cout << myPtr2(5,2) << endl;
  myPtr2 = nullptr;
  return 0;
}
