structdef MYS {
  int x;
  float y;
  bool b;
};

function : void main(){
  MYS a;
  
  //Fail
  int notStruct;
  notStruct.x;
  
  //Pass
  int number = a.x;
  float b = a.y;
  bool bo = a.b;
  
  //Fail
  bool j = a.x;
  
  //Fail
  int c = a.q;
  int d = a.field;
}