//Fail
function : int test(){
  int x = 0;
}

//Fail
function : int test1(){
  int x = 0;
  if( x == 1){
    return 1;
  }
}


//Pass
function : int test2(){
  int x = 0;
  if(x == 1){
    return 2;
  }
  return x;
}

//Fail, int to void
function: void test3(){
  int x = 0;
  if(true){
    return x;
  }
  return;
}

//Success
function: void test4(){
  int x = 0;
  if(true){
  }
}

//Success: when is void, top level return can be ignored
function : void test5(){
  int x = 2;
  if(x == 2){
    return;
  }
}
/* This is not allowed, only return statement at top level allowed
function : int test6(){
  if(true) {
    return 1;
  }
  else{
    return 2;
  }
}*/
