//Detect undeclared gloabl identifiers
int myX;
bool x;
function: void foo(){
  int x;
  //First error
  int i =  5 + ::x;//error, Incompatible type bool to binary operator +, numeric expected.
  
  auto y = 5;
  int z = y + 3;

  static auto b = true;
  bool c = b;
  
  const auto f = 1.0;
  float h = f + 2.0;
  //second error
  int g = f + 3.0; // Error, Initialization value of type float not assignable to constant/variable of type int.
  
  auto test1 = 1;
  float test2 = test1;
  bool flag = test1 == test2;
  bool flag = test1++; // Error,Initialization value of type int not assignable to constant/variable of type bool.
}
