function : void main(){
  //Fail;
  break;
  continue;
 
  //Pass 
  while(true){
    break;
  }
  
  //Pass
  while(false){
    continue;
  }
  
  //Should pass
  while(true){
    break;
    continue;
    break;
  }
  
  //Fail
  float x = 1.32;
  while(x){
    break;
  } 
  while(false){
    while(true){
      if(true){
        break;
      }
      break;
    } 
  }
  if(true){
    if(false){
      while(true){
        if(true){
          if(false){
            break;
          }
        }
        else{
          break;
        }
      }
    }
    //Fail
    break;
  }
}
