structdef MYS{
  int y;
};
structdef MYS3{
  int y;
};
typedef MYS MYS2;
typedef MYS2 MYS4;
typedef MYS3 MYS5;
function : void main(){
  int *p;
  int* ptr = (int *) &p; 
}
function : MYS2 foo(){
  MYS s;
  MYS3 x;
  MYS4 j;
  MYS5 i;
  //Fail 
  return s;
  return x;
  return i;
}