int a;
float b;
typedef int INTEGER;
structdef MYS{
  int a ,b ;
};
structdef MYS2{
  int a, b;
};

typedef funcptr : int (int x, int y) MYPTRALIAS;
MYPTRALIAS myPtr1, myPtr2; // two function pointers

function: void foo(int x, float &y)
{}

function: void main(){
  b = (INTEGER)a;
  new myPtr1;
  delete myPtr1;
  //b = (MYPTRALIAS)a;
  MYS s1;
  MYS2 s2;
  MYS2 s3;
  b = (MYS2)s1;
  b = (int*)myPtr1;
  *(int*)&b  = b;
  *(float*)&a = b; 
  *(MYS2*)&s1 =s3; 
 }