structdef REC {
    float r;
    int [10] arr1;
    float [10] arr;
    decltype(r) floatdec;
};
typedef REC* REC1;
typedef bool[100] BARR; 
structdef REC2{
  REC2* r2;
  REC r, j;
};

bool [4] z;

function : void foo(bool[5] &fp1, bool *p2){
}
function : int main() {
    REC *p;
    decltype(p) jjj;
    auto i = jjj->r;
    int a = jjj->arr1[9];
    float r;
    r = p->f2;
    foo(z, z);
    return 0;
     
    REC1 s1;
    
    //Pass
    new s1;
    delete s1;
     
     REC2 r2;
     REC2* r2Ptr = r2.r2;
     sizeof(REC);
     sizeof(REC2);
     sizeof(BARR);
     new r2Ptr;
     delete r2Ptr;
     p->arr1[3] = 8;
     r2Ptr->r.arr1[9] = 8;
     int * ptr11 = r2Ptr->r.arr1;
     r2Ptr->r.floatdec = true;
}

