int **x;
typedef float* PTR;
PTR y;
PTR *z;
//funcptr : int (int x, int y) foo;

function : void main(){
  typedef float[2] FARR;
  FARR farr;
  float *fp = farr;
  typedef float[2] FA2;
  typedef FA2[3] FA2A3;
  FA2A3 fa2a3;
  
  //Fail, because base types are not equivalent
  float **fpp = fa2a3;
  
  //Okay
  FA2 *fa2p = fa2a3;
  
  //foo++;
  //foo--;
}
