
function : int main ()
{
    int a,b;
    bool c;
    float f;
    int * pa, *pb;
    bool * pp,*pq;
    float * px,*py;

    ////////////////////////// Good Ones ////////////////////////////////////
    
    pa = nullptr;
    pp = nullptr;
    px = nullptr;
    pa = &a;

    ////////////////////////// Error Ones ///////////////////////////////////    
    
    nullptr = pa;                 // Left-hand operand is not assignable (not a modifiable L-value).
    a = nullptr;                  // Value of type nullptr not assignable to variable of type int.
    pa = &(pb = pa); //(Check 21) Non-addressable argument of type int* to address-of operator. 
    c = nullptr;                  // Value of type nullptr not assignable to variable of type bool.
    b = nullptr;                  // Value of type nullptr not assignable to variable of type int.
    
    return 1;
}

