function : void bar(){
}

function : void foo(){

int x = 1;
int y = 2;
int z;
int l;
int* g;

l = x + y;

z = sizeof(&g); // error, result of address - of
z = sizeof(1); // error, constant literal

}