typedef funcptr : int (int x, int& y) MYPTRALIAS;
typedef MYPTRALIAS MYPTRALIAS2;
typedef MYPTRALIAS2 MYPTRALIAS3;
typedef funcptr : void(int x) VOIDFUNC;


MYPTRALIAS myPtr1, myPtr2;
MYPTRALIAS2 myPtr3;
MYPTRALIAS3 myPtr4;
VOIDFUNC voidPtr;

function : int & addition(int&  x, int &y) {
return x + y;
}

function : int subtraction(int& x, int y) {
return x - y;
}

function : void foo(int x) {}

function : int main() {

	if (myPtr2 == nullptr) {
		myPtr2 = addition;
		myPtr3 = addition;
	}
	
	myPtr1 = subtraction;
	myPtr4 = subtraction;
	voidPtr = foo;


	new myPtr1;
	new addition;


	return 0;
}
