structdef MYSTRUCT {
	int ************************** a;
	int ************************* b;
	int ************************ c;
	int *********************** d;
	int ********************** e;
	int ********************* f;
	int ******************** g;
	int ******************* h;
	int ****************** i;
	int ***************** j;
	int **************** k;
	int *************** l;
	int ************** m;
	int ************* n;
	int ************ o;
	int *********** p;
	int ********** q;
	int ********* r;
	int ******** s;
	int ******* t;
	int ****** u;
	int ***** v;
	int **** w;
	int *** x;
	int ** y;
	int * z;
};

	
function: int************************** zimbabwe(){
	
}

function: int************************** pride_rock(){
	MYSTRUCT str;
	return str.z;
}

typedef MYSTRUCT BLAH;
typedef BLAH ZAH;

function: BLAH foo(){
	MYSTRUCT beauty;
	return beauty;
}

function: MYSTRUCT foo2(){
	BLAH beauty;
	return beauty;
}

function: MYSTRUCT foo3(){
	ZAH* beauty;
	return beauty;
}

typedef int** TRONCOB;

typedef int CRONJOB;
typedef CRONJOB** BLAHBLAH;

function : TRONCOB foobar() {
	BLAHBLAH a;
	return a;
}
