/* Constant folding */

const int x = 3;  	// okay b/c 3 is known
const int x1 = x;   // okay b/c x is known

const bool _true = true;

int x3 = x1;	


function : void main2()
{
	float x = 3 * ::x / x1 - x1 + x * 390;

	float f = (x * 30 + 40) / x;

	bool b = _true || false || _true && true;

}