function: void foo()
{
	//Tests T_EQU
	int x;
	float f;
	bool b;
	
/****************T_EQU - Local**********************/ 

	//Only these tests should pass.
	bool a = (f == f);
	bool ba = (f == x);
	bool c = (x == x);
	bool d = (x == f);
	bool e = (b == b);

	//All should fail.
	float fa = (x == b);
	float g = (f == b);
	float h = (b == b);
	float i = (b == x);
	float j = (b == f);
	
	bool k = (x == b);
	bool l = (f == b);
	bool m = (b == x);
	bool n = (b == f);

	int o = (x == b);
	int p = (f == b);
	int q = (b == b);
	int r = (b == x);
	int s = (b == f);
}