int i;
float f;
bool b;

/* ArithmeticOps */
function: void foo() {
    i + i;
    i + f;
    f + i;
    
    i - i;
    i - f;
    f - i;
    
    i / i;
    i / f;
    f / i;
    
    i * i;
    i * f;
    f * i;
    
    
/* Errors */
/* AddOp */
    i + b;
    b + i;
    
    f + b;
    b + f;
        
    b + b;
    
/* MinusOp */
    i - b;
    b - i;
        
    f - b;
    b - f;
    
    b - b;
    
/* DivOp */
    i / b;
    b / i;
        
    f / b;
    b / f;
        
    b / b;
    
/* MultOp */
    i * b;
    b * i;
        
    f * b;
    b * f;
        
    b * b;
}
