function: void foo()
{
	int i;
	float f;
	bool b;
	
/****************T_MINUS - Local**********************/ 

	//Only these tests should pass.
	int a = i - i;
	float ba = i - f;
	float c = f - i;
	float d = f - f;

	
	//All should fail.
	
	float erica = f -  b - b;
	float g = i - b;
	float h = f - b;
	float j = b - b;
	float k = b - i;
	float l = b - f;
	
	bool p = i - b;
	bool s = f - b;
	bool t = b - b;
	bool u = b - i;
	bool v = b - f;
	
	int x = i - b;
	int aa = f - b;
	int qa = b - b;
	int ra = b - i;
	int sa = b - f;
}