function : bool foo (float a, float b, float &c, bool j, bool & k, int &p)
{
  bool x; //local variable
  
  x = a > b;
  x = (a+c) <=2;
  return x;
}

function : int bar()
{
	return 0;
}


function : void main ()
{
	int p = 42;



	foo(42, true, 5 + 3.14, false, (42 < 44), p); 
	foo(3);
	foo();
	foo(1, 2);
	foo(1, 2, 3, 4);

	bar();
	bar(1);
	bar(1, 2, 3, 4);
}

