int int1;
float float1;
bool bool1;

function : void v() {} //okay
function : void u() { return; }
function : int a() { return; } //no return
function : bool b() {} //no return

function : int c() { return 1; } //okay
function : float d() { return 1; } //okay
function : float e() { return 1.34; } //okay
function : int f() { return 1.34; } //not assignable
function : bool g() { return true; } 
function : bool h() { return 1; } //not assignable

function : int& i() { return int1; }
function : int& j() { return float1; } //not equiv
function : int& k() { return 1; } //not modLValue

function : float& l() { return float1; }
function : float& m() { return int1; } //not equiv
function : float& n() { return 3.14; } //not modLValue

function : bool& o() { return bool1; }
function : bool& p() { return int1; } //not equiv
function : bool& q() { return true; } //not modLValue

function : int uhoh() { return (1-true); } //only show 1-true error

//scope checking
//should not work
function: int bar() { { return 1; } }

int x;
int y;
//should not work
function: int foo() {  if ( x == y ) { return 1; } else { return 2;} }


function : int main() {
	return 0;
	return 1; //subsequent ones shoudl all be checked
	return bool1;
	return 3.14;
}