function: void foo()
{
	//Tests T_OR
	int x;
	float f;
	bool b;
	
/****************T_OR - Local**********************/ 

	//Only these tests should pass.
	bool a = (b || b);


	//All should fail.
	float ba = (x || x);
	float c = (x || b);
	float d = (x || f);
	
	float e = (f || x);
	float fa = (f || f);
	float g = (f || b);

	float i = (b || x);
	float j = (b || f);
	
	bool k = (x || x);
	bool l = (x || f);
	bool m = (x || b);
	
	bool n = (f || f);
	bool o = (f || x);
	bool p = (f || b);
	
	bool q = (b || x);
	bool r = (b || f);
	
	int s = (x || x);
	int t = (x || f);
	int u = (x || b);
	
	int v = (f || f);
	int w = (f || x);
	int xa = (f || b);
	
	int z = (b || x);
}