function : int main() {
  int i;
  int j;
  float u;
  float v;
  bool x;
  bool y;
  
  i = j;
  u = v;
  x = y;
  u = i;
  
  i = u; //fail   int = float
  x = i; //fail   bool = int
  u = x; //fail  float = bool
  
  const int k = 3;
  k = i; //fail  
  3.14 = u; //fail
  
  //checking associativity. should complain about float to int
  k = i = u; //fail  const int = int = float
  
  
  
  //6 errors total
  
  return 0;
  }