int i;
float f;
bool b;

function: void foo() {    
/* Bitwise AND Operator */
    
    i & i;

//errors    
    b & b;
    f & f;
    i & f;
    f & i;

    i & b;
    b & i;
        
    f & b;
    b & f;

/* Bitwise XOR Operator */

    i ^ i;

//errors    
    b ^ b;
    f ^ f;
    i ^ f;
    f ^ i;

    i ^ b;
    b ^ i;
        
    f ^ b;
    b ^ f;

/* Bitwise OR Operator */

    i | i;

//errors    
    b | b;
    f | f;
    i | f;
    f | i;

    i | b;
    b | i;
        
    f | b;
    b | f;
}
