function: void foo()
{
	//Tests T_NOT
	int x;
	float f;
	bool b;
	
/****************T_NOT - Local**********************/ 

	//Only these tests should pass.
	bool a = !b;

	//All should fail.
	float ba = !x;	
	float c = !f;
	
	bool d = !x;	
	bool e = !f;

	int fa = !x;
	int g = !f;

}