int myX = 2;
function : void foo()
{
	int x = 3;
	int y = x++; 
	y = --::myX;	// this will not pass unless you have done the 
			// global scope resolution operator
	int z = --x;
    	int w = --y++; 	// should parse as --(y++) and should error because y 
			//becomes an R-value after the first type check
}
