function: void foo()
{
	//Tests T_NEQ
	int x;
	float f;
	bool b;
	
/****************T_NEQ - Local**********************/ 

	//Only these tests should pass.
	bool a = (f != f);
	bool ba = (f != x);
	bool c = (x != x);
	bool d = (x != f);
	bool e = (b != b);


	//All should fail.
	float fa = (x != b);
	float j = (f != b);
	float l = (b != x);
	float m = (b != f);
	
	bool n = (x != b);
	bool o = (f != b);
	bool p = (b != x);
	bool q = (b != f);
	
	int t = (x != b);
	int u = (f != f);
	int v = (f != x);
	int w = (f != b);
	int y = (b != x);
	int z = (b != f);
}