function: void foo()
{
	//Tests T_AMPERSAND
	int x;
	float f;
	bool b;
	
/****************T_AMPERSAND - Local**********************/ 

	//Only these tests should pass.
	int a = (x & x);
	
	//All should fail.
	float ba = (x & b);
	float c = (x & f);
	
	float d = (f & x);
	float e = (f & f);
	float fa = (f & b);
	
	float g = (b & b);
	float h = (b & x);
	float i = (b & f);
	
	bool j = (x & f);
	bool k = (x & b);
	
	bool l = (f & f);
	bool m = (f & x);
	bool n = (f & b);
	
	bool o = (b & x);
	bool p = (b & f);
	bool q = (b & b);
	
	int r = (x & f);
	int s = (x & b);
	
	int t = (f & f);
	int u = (f & x);
	int v = (f & b);
	
	int w = (b & b);
	int y = (b & f);
}