function: void foo()
{
	//Tests T_CARET
	int x;
	float f;
	bool b;
	
/****************T_BAR - Local**********************/ 

	//Only these tests should pass.
	int a = (x | x);
	
	
	//All should fail.
	float c = (x | b);
	float d = (x | f);
	float e = (f | x);
	float fa = (f | f);
	float g = (f | b);
	float h = (b | b);
	float i = (b | x);
	float j = (b | f);
	
	bool l = (x | f);
	bool m = (x | b);
	bool n = (f | f);
	bool o = (f | x);
	bool p = (f | b);
	bool q = (b | x);
	bool r = (b | f);
	bool s = (b | b);
	
	int t = (x | f);
	int u = (x | b);
	int v = (f | f);
	int w = (f | x);
	int xa = (f | b);
	int y = (b | b);
	int z = (b | x);
	int za = (b | f);
}