function: void foo()
{
	int x;
	float f;
	bool b;
		
/****************T_LTE - Local**********************/ 
	
	//Only these tests should pass.
	bool a = (f <= f);
	bool ba = (f <= x);
	bool c = (x <= x);
	bool d = (x <= f);

	//All should fail.
	float fa = (x <= b);
	float j = (f <= b);
	float k = (b <= b);
	float l = (b <= x);
	float m = (b <= f);
	
	bool n = (x <= b);
	bool o = (f <= b);
	bool p = (b <= b);
	bool q = (b <= x);
	bool r = (b <= f);
	
	int u = (x <= b);
	int xa = (f <= b);
	int y = (b <= b);
	int z = (b <= x);
	int za = (b <= f);
}