function : void main()
{

	int x = 2, y = 3;
	float a = 2.0, b = 3.0;
	const bool c_true = true;
	const bool c_false = false;

	// all should pass
	const int i_add = 5 + 6;
	const int i_min = 5 - 6;      	
	const int i_mul = 5 * 6;		
	const int i_div = 5 / 6;		
	const int i_mod = 5 % 6;
			
	const float f_add = 5.0 + 6.0;	// ConstSTO of type float
	const float f_min = 5.0 - 6.0;
	const float f_mul = 5.0 * 6.0;
	const float f_div = 5.0 / 6.0; 
	const float f_add_i = 5.0 + 6;  
	const float f_min_i = 5.0 - 6;	
	const float f_mul_i = 5.0 * 6;
	const float f_div_i = 5.0 / 6;
	const float f_mod = 5 % 6;
	
	const float f_composite = f_add + f_min;
	
	// all should fail, this particular case issue
	const int i_add_modL = 5 + x;  // init val of const not known
	const int i_x1 = x + 5;        // init val of const not known
	const int i_x2 = x + y;        // init val of const not known
	
	const float f_x1 = a + 2.0;    // init val of const not known
	const float f_x2 = 2.0 + a;    // init val of const not known
	
	// all should fail
	const int i_add_f = 5 + 6.0;    // val of type float not assign to int     
	const int i_min_f = 5 - 6.0;    // val of type float not assign to int
	const int i_mul_f = 5 * 6.0;    // val of type float not assign to int
	const int i_div_f = 5 / 6.0;    // val of type float not assign to int
	const int i_add_b = 5 + true;   // incompat type bool to binary op +, num expected
	const int i_min_b = 5 - false;  // incompat type bool to binary op -, num expected
	const bool and_op = true && true; // no errors here and below
	const bool or_op = true || false;
	const bool not_op = !true; 
	const int and_bw = 5 & 6; 
	const int or_bw = 5 | 6;
	const int xor_op = 5 ^ 6;
	
	const bool and_opl = c_true && true; 
	const bool or_opl = c_true || false;
	const bool not_opl = !true; 
	const int and_bwl = i_add & 6; 
	const int or_bwl = i_add | 6;
	const int xor_opl = i_add ^ 6;
	
	const bool and_opr = true && c_true; 
	const bool or_opr = true || c_false;
	const bool not_opr = !c_true; 
	const int and_bwr = 5 & i_mul; 
	const int or_bwr = 5 | i_mul;
	const int xor_opr = 5 ^ i_mul;
}