//function : void foo(  ) { return ; }
//function : int foo1( int hello ) {return 5;}
//function : void floatCheck( float can_be_int ) {}
//function : void bar( int hi, bool test ) { /* do nothing */ }


//function : int bazy() {return 0;}

function : void main2() {

const float x = 2.0;

const float r = 3 + x; 


}