function : void main2() {

	int a;
	int[2] b;
	float[3] c;

	foreach( float 	x : a ) { } // error a is not array type
	foreach( bool	x : b ) { } // error, int not assignable to bool
	foreach( float	x : b ) { } 
	foreach( float &x : b ) { } //error it not equivalent to float


}