function : void main2() {

	//const int q = -5;
	float[10] x;
	
	float w = 0.0;
	float z = w[1]; // error not array or pointer
	 
	bool y = x[true]; //error not equivalent to int to access array
	
	float e = x[3] + true; //error adding a bool to an int
	
	int p = 5;
	int q;
	int[2] s;
	
	const int cc = 1;
	typedef float[10] ARR;
	float[10] a;
	ARR b;
	ARR[2] c; 

	c[1][9] = a[2];
	b[b[b[b[2] - cc] + cc] - 1] = c[1][9]; //using a float as an index variable
	

}