structdef MYSTRUCT {
	int a;
	MYSTRUCT* ptr;
};

function : void main() {
	MYSTRUCT m;
	m.a = 5;
	MYSTRUCT* mptr = m.ptr;
	mptr = m.ptr;
}

structdef STRUCT {
    int [10] x;
};
function : void main1() {
    int x;
    STRUCT s;

    s.x[0] = x;  // this was the reference in question
}