function : void main() {
  typedef int INT;
  typedef float FLOAT;
  typedef bool BOOL;
  
  INT tdi;
  FLOAT tdf;
  BOOL tdb;
  int i;
  float f;
  bool b;

  //pass
  int add1 = tdi + i;
  float add2 = f + tdf;
  float add3 = i + tdf;
  int minus1 = tdi - i;
  float minus2 = f - tdf;
  float minus3 = i - tdf;
  int mul1 = tdi * i;
  float mul2 = f * tdf;
  float mul3 = i * tdf;
  int div1 = tdi / i;
  float div2 = f / tdf;
  float div3 = i / tdf;
  
  int mod1 = i % tdi;
  
  bool eq = b == tdb;
  bool neq = b != tdb;
  
  bool or = b || tdb;
  bool and = b && tdb;
  bool not = !tdb;
  
  int bitand = i & tdi;
  int bitor = i | tdi;
  int bitxor = i ^ tdi;

  //fail
  int add4 = i + tdb;
  float add5 = f + tdb;
  int minus4 = tdb - i;
  float minus5 = f - tdb;
  int mul4 = tdb * i;
  float mul5 = f * tdb;
  int div4 = tdb / i;
  float div5 = f / tdb;

  int mod2 = i % tdf;

  bool eq2 = b == tdi;
  bool neq2 = b != tdi;
  
  bool or2 = b || tdi;
  bool and2 = b && tdi;
  bool not2 = !tdi;
  
  int bitand2 = i & tdb;
  int bitor2 = i | tdb;
  int bitxor2 = i ^ tdb;
}