int i1 = 5;
int i2 = 10;
float f1 = 5.3;
float f2 = 10.7;
bool b1 = true;
bool b2 = false;

function : void main()
{
	int i3;
	float f3;
	bool b3;
	
	// +, -, *, / cases
	i3 = i1 + i2;
	f3 = f1 + f2;
	f3 = i1 + f2;
	
	i3 = i1 - i2;
	f3 = f1 - f2;
	f3 = i1 - f2;
	
	i3 = i1 * i2;
	f3 = f1 * f2;
	f3 = i1 * f2;
	
	i3 = i1 / i2;
	f3 = f1 / f2;
	f3 = i1 / f2;
	
	// % case
	i3 = i1 % i2;
	
	// LT, LTE, GT, GTE cases
	b3 = i1 < i2;
	b3 = i1 > i2;
	b3 = i1 <= f1;
	b3 = i1 >= f1;
	
	// ==, != cases
	b3 = b1 == b2;
	b3 = b1 != b2;
	b3 = i1 == i2;
	b3 = i1 != f1;
	
	// ||, && cases
	b3 = b1 && b2;
	b3 = b1 || b2;
	b3 = (b1 || b2) || (b1 && b2);
	
	// ! case
	b3 = !b1;
	
	// |, &, ^ cases
	i3 = i1 | i2;
	i3 = i1 & i2;
	i3 = i1 ^ i2;
	
}