/* 8a Good */

// constants are fine
int x = 3; 					
static const bool b = true;
const float f = 3.42;

float f1 = f;  				// f is const

function : void main() 
{
	int x1 = x;			// should be fine b/c local vars are ignored
	bool b = f == f1;

	static bool b1 = ::b;

	return;
}