int x = 3;

int err1 = x; 			// x not known at compile time

static int err2 = x;     // x not known at compile time

function : void main()
{
	static int err3 = ::x; // x not known at compile time

}