function : int foo() { return 0; } 
typedef funcptr : int() MYFP; 

function : void main() {
	MYFP MyFuncPtr; 
	funcptr : int() funcPtr;
	MyFuncPtr = foo; 
	int x = MyFuncPtr(); // this will be a function call to foo! 
	MYFP * MyFuncPtrPtr; 
	MyFuncPtrPtr = &foo; // Should be an error, since foo is an R-value 
	funcPtr = &foo;

	bool b = MyFuncPtr(); // should be error
	bool b1;
	b1 = MyFuncPtr(); // should be error

	MyFuncPtrPtr = &MyFuncPtr; // OK
	(*MyFuncPtrPtr)(); // this will be a function call to foo!
}
