//function : void foo(  ) { return ; }
//function : int foo1( int hello ) {return 5;}
//function : void floatCheck( float can_be_int ) {}
//function : void bar( int hi, bool test ) { /* do nothing */ }


//function : int bazy() {return 0;}

function : void main2() {

typedef int INTEGER;

INTEGER a;
INTEGER b;
const int c = 2 + 3 * 0 - 1;
a = b + c;
a = 5;
a = true; //error not assignable

typedef INTEGER INTEGER1;

INTEGER1 q;

q = 5;
q = true; //error not assignable
q = a;



}