typedef int INTEGER;
typedef INTEGER INTEGER2;
typedef INTEGER2 INTEGER3;

typedef float FLOAT;
typedef FLOAT FLOAT2;

const FLOAT f = 3.5;
const FLOAT2 f2 = 4.5;

const INTEGER i = f;
const INTEGER2 i2 = f2;



function : int main()
{
	const INTEGER i = f;
	const INTEGER2 i2 = f2;
	const int 		i3 = f2;
	const INTEGER i4 = (f2 + f);

	return 0;
}



typedef FLOAT FLOATX;
function: FLOATX foo() {
  FLOAT f;
  return f;
}
function : void main2() {
  int i = foo();
}